<div class="extended-incident hidden">
	<%= render :partial => 'map/incidents/details/navigation', :locals => {:incident => incident} %>
	
	<p class="type"><%= incident.humanized_kind %></p>
	<%= link_to t('actions.show_on_map'), "javascript:void(0);", :class => "show-on-map rounded-5" %>
	<div class="lat hidden"><%= incident.coordinates.lat %></div>
	<div class="lon hidden"><%= incident.coordinates.lon %></div>
	<p class="description"><%= incident.description %></p>
	
	<% if incident.is_of_kind?(:theft) %>
		<div class="extra-fields rounded-5">
			<span><%= t('activerecord.attributes.incident.attacher_used') %>: </span>
			<div class="value to-right"><%= incident.bike_item.nil? ? t('missing') : incident.bike_item.name %></div>
			<br/>
		</div>
		<%= render :partial => 'map/incidents/details/bike_description', :locals => {:incident => incident} %>
	<% elsif incident.is_of_kind?(:accident) || incident.is_of_kind?(:regulation_infraction) %>
		<div class="extra-fields rounded-5">
			<span><%= t('activerecord.attributes.incident.vehicle_identifier') %>: </span>
			<div class="value to-right"><%= incident.vehicle_identifier || "---" %></div>
		</div>
	<% elsif incident.is_of_kind?(:assault) %>
		<%= render :partial => 'map/incidents/details/bike_description', :locals => {:incident => incident} %>
	<% end %>
	
	<p class="complaint_issued">
		<%= t('incidents.index.list.item.complaint_issued')[incident.complaint_issued] %>
	</p>
	
	<div class="separator"></div>
	<% if incident.owned_by_user?(current_user) %>
		<div class="spacer"></div>
		<div class="actions inlined">
			<%= link_to t('actions.delete'), [:map, incident], :method => :delete, :remote => true, :confirm => t('incidents.destroy.confirm'), :class => "button red-button" %>
		</div>
		<div class="to-right inlined">
			<span class="time"><%= incident.date_and_time.to_s(:short) %></span> 
			<span class="reporter"><%= reporter_of(incident) %></span>
		</div>
	<% else%>
		
		<span class="time"><%= incident.date_and_time.to_s(:short) %></span>
		<div class="to-right"><span class="reporter"><%= reporter_of(incident) %></span></div>
	<% end %>
	
	
</div>