<%= link_to "&larr; #{t('actions.back')}".html_safe, 'javascript:void(0);', :class => 'back-button', :id => "#{incident.symbol_kind.to_s}-back" %>
<%= link_to t('actions.close'), 'javascript:void(0);', :class => 'close-button' %>