.hidden {
	display: none;
}

html, body {width: 100%; height: 100%; overflow: hidden }
body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; font-family : calibri; }

#notifications, #alerts, #messages {
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	width: 300px;
	padding: 15px 10px;
	left: 50%; margin-left: -150px;
	top: 50%;
}

#messages {
	width: 400px;
	left: 50%; margin-left: -200px;
	background-color: rgba(0,0,0,0.7);
	color:#BEBFB8;
	border: 1px solid #C6C9C2;
}

#notifications {
	background-color: rgba(0,102,0,0.7);
	color:#D7FACD;
	border: 1px solid #C7E6B8;
}

#alerts {
	background-color: rgba(255,51,51,0.7);
	color:#F8BABD;
	border: 1px solid #F8BABD;
}

.menu {
	height: 40px;
	background-color:#3C3C3C;
	width: 100%;
}

.mini-header, .menu, #notifications, #alerts, #messages {
	z-index: 9999;
	position: fixed;
}

.mini-header {
	top: 40px;
	padding: 2px 10px;
	width: 400px;
	height: 50px;
	background-color: white;
	left: 50%; margin-left: -200px;
}

.mini-header h1 {
	margin: 10px 10px;
	font-size: 23px;
}

.mini-header .actions {
	position: relative;
	top: -37px;
	right: 20px;
	float: right;
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rounded-10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ml-20 {
	margin-left: 40px;
}

.mb-10 {
	margin-bottom: 10px;
}

.rounded-bottom-5 {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.rounded-top-5 {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

a {
	text-decoration: none;
}
a:visited {
	color: grey;
}

.styled-form input:active, 
.styled-form input:hover,
.styled-form textarea:active,
.styled-form textarea:hover {
	border: 2px solid #D0D0D0;
	color: #878787;
}

.styled-form label {
	font-weight: bold;
	color:#6D6D6D;
	margin-top: 5px;
	margin-right: 10px;
}

.styled-form .field {
	padding: 8px;
}

.styled-form input, .styled-form textarea {
	font-family: calibri;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  border-radius: 10px;
	color:#A1A1A1;
  border: 2px solid #E9E9E9;
  padding: 10px;
  overflow: hidden;
	margin: 10px 2px;
	font-size: 15px;
}

.field_with_errors label {
	color: #99474C;
}

.field_with_errors textarea:hover,
.field-with-errors input[type=text]:hover {
	border: 2px solid #99474C !important;
}

.field_with_errors textarea,
.field-with-errors input[type=text] {
	border: 2px solid #996063 !important;
}

.shadow-light {
	-moz-box-shadow: 0 0 8px #303030;
	-webkit-box-shadow: 0 0 8px #303030;
	box-shadow: 0 0 8px #303030;
}

.shadow-lighter {
	-moz-box-shadow: 0 0 8px #9E9E9E;
	-webkit-box-shadow: 0 0 8px #9E9E9E;
	box-shadow: 0 0 8px #9E9E9E;
}

.shadow-strong {
	-moz-box-shadow: 0 0 5px #1A1A1A;
	-webkit-box-shadow: 0 0 5px #1A1A1A;
	box-shadow: 0 0 5px #1A1A1A;
}

.to-right {
	float: right;
	clear: both;
}

.inlined {
	display: inline-block;
}

.separator {
	height: 1px;
	background-color:#D0D0D0;
	margin: 5px;
}

.blue:hover{
	background: -moz-linear-gradient(
		top,
		#1D91E0 0%,
		#1E5991);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1D91E0),
		to(#1E5991));
}

.blue {
	background: -moz-linear-gradient(
		top,
		#71B1E0 0%,
		#547CA3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#71B1E0),
		to(#547CA3));
	border: 1px solid white;
}

.orange:hover {
	background: -moz-linear-gradient(
		top,
		#E08334 0%,
		#E0601C);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#E08334),
		to(#E0601C));
}

.orange {
	background: -moz-linear-gradient(
		top,
		#E0995C 0%,
		#E08631);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#E0995C),
		to(#E08631));
	border: 1px solid white;
}

.green-button {
	border: 1px solid white;
	background: -moz-linear-gradient(
		top,
		#227A2D 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#227A2D),
		to(#55A55B));
}

.green-button:hover {
	background: -moz-linear-gradient(
		top,
		#289435 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#289435),
		to(#55A55B));
}

.red-button:hover {
	background: -moz-linear-gradient(
		top,
		#BD514A 0%,
		#BD433E);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#BD514A),
		to(#BD433E));
}

.red-button {
	background: -moz-linear-gradient(
		top,
		#BD8280 0%,
		#BD7979);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#BD8280),
		to(#BD7979));
	border: 1px solid white;
}

.button {
		font-size: 13px;
		color: #ffffff !important;
		padding: 6px 12px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow:
			0px 1px 0px #2B2B2B,
			0px 1px 0px #2B2B2B;
		-moz-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		-webkit-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		border: 1px solid #FFFDEF;
}

.actions .submit {
	font-size: 14px;
	color: #ffffff;
	padding: 8px 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.8),
		inset 0px -1px 0px rgba(50,117,184,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.8),
		inset 0px -1px 0px rgba(50,117,184,1);
	text-shadow:
		0px -1px 0px rgba(10,48,84,1),
		0px 0px 0px rgba(255,255,255,0);
	
}

#error_explanation h2 {
	font-size: 15px;
	color:#994243;
}

#error_explanation ul li {
	font-size: 14px;
	color: #6A6A6A;
}

.spacer {
	height: 8px;
}

.field-counter {
	text-align: right;
	margin-right: 40px;
	font-size: 14px;
	font-style: italic;
	color:#3D3D3D;
}

.poll-results .question .answers .value {
	padding: 5px 10px;
	background-color: #DEDEDE;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.polls, .poll-results {
	padding: 10px;
	font-size: 13px;
}

.poll-results .question {
	margin-bottom: 10px;
}

.question label {
	width: 140px;
	font-weight: bold;
}

.question .answers .value {
	margin-right: 10px;
	width: 60px;
}

.question .answers,
.question .answers .value,
.question label,
.invite p {
	display: inline-block;
}

#container {
	width: 920px;
	padding-top: 50px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.mini-header h1 .type, #newitem h1 .type {
	font-size: 15px;
	margin-left: 8px;
	vertical-align: 2px;
	color: #EEE;
	background-color:#A6A6A6;
	padding: 0px 5px;
}

ul li, ul li * { display: inline-block }
