<%= f.text_area :description, :cols => 48, :rows => 3, :placeholder => t('incidents.new.form.fields.description') %>
<div id="incident_description_count" class="field-counter"></div>

<div class="field">
	<%= f.check_box :complaint_issued, :checked => @incident.complaint_issued || false %>
	<%= f.label :complaint_issued, Incident.human_attribute_name(:complaint_issued), :style => 'display:inline-block' %>
</div>
<div class="field">
	<%= f.label :date_and_time, Incident.human_attribute_name(:date_and_time) %><br/>
	<%= f.datetime_select :date_and_time %>
</div>
<div class="field">
	<%= f.label :kind, Incident.human_attribute_name(:kind) %>
	<%= f.select :kind, options_for_select(Incident.humanized_kinds.invert, @incident.kind), {:include_blank => true} %>
</div>

<div class="field <%= is_visible(:theft, @incident) %> <%= incident_types_for(:theft) %>">	
	<%= f.label :attacher_used, Incident.human_attribute_name(:attacher_used) %>
	<%= f.select :bike_item_id, options_from_collection_for_select(BikeItem.all, "id", "name", @incident.bike_item_id), {:include_blank => true} %>
</div>
<div class="<%= is_visible([:theft, :assault], @incident) %> <%= incident_types_for([:theft, :assault]) %>">
	<%= f.text_area :bike_description, :cols => 48, :rows => 3, :placeholder => t('incidents.new.form.fields.bike_description') %>
	<div id="incident_bike_description_count" class="field-counter"></div>
</div>

<div class="<%= errors_for(:vehicle_identifier, @incident) %> 
						<%= is_visible([:accident, :regulation_infraction], @incident) %> 
						<%= incident_types_for([:accident, :regulation_infraction]) %>">
	<%= f.text_field :vehicle_identifier, :size => 33, :placeholder => t('incidents.new.form.fields.vehicle_identifier') %>
</div>

<br/>
<div class="note">
	<%= f.label :coordinates, t('incidents.new.form.fields.coordinates') %>
</div>
<%= hidden_field_tag "coordinates[lat]", @incident.coordinates.nil? ? "" : @incident.coordinates.lat %>
<%= hidden_field_tag "coordinates[lon]", @incident.coordinates.nil? ? "" : @incident.coordinates.lon %>