<% content_for :classes_for_map, "is-editable" %>
<% content_for :classes_for_header, "hidden" %>

<%= content_for :map_area do %>
	
	<div id="newitem" class="rounded-5 shadow-strong">
		<h1><%= t('incidents.new.title') %><span class="type rounded-5"><%= t('incidents.index.kind.bike') %></span></h1>

		<p class="reporting-status">
		<% if user_signed_in? %>
			<%= t('incidents.new.reporting.as', :account => current_user.username) %>
		<% else %>
			<%= t('incidents.new.reporting.anonymously') %><br/>
			<%= t('incidents.new.reporting.invitation') %>
			<%= link_to t('actions.sessions.first_person.start').downcase, new_user_session_path %>
		<% end %>
		</p>
		<%= form_for([:map, @incident]) do |f| %>
		
			<% unless @incident.errors.empty? %>
				<h3 class="error-message"><%= t('actions.verify_fields_on_red') %></h3>
			<% end %>
			<div class="styled-form">
				<%= render :partial => 'form', :locals => {:f => f} %>
			</div>
			<div class="separator"></div>
			<div class="actions to-right">
				<%= link_to t('actions.cancel'), map_incidents_path %>
				<%= f.submit t('actions.save'), :class => 'submit blue button' %>
			</div>
		<% end %>
		
		
	</div>
	
<% end %>