<%= devise_error_messages! %>
<div class="styled-form">
	<% if provider_is?(:twitter) %>
		<b><%= t('user_accounts.registrations.oauth.missing_field', :field => t('activerecord.attributes.user.email').downcase) %></b>
		<div>
	  	<%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email') %>
		</div>
	<% end %>
	<% if provider_is?(:facebook) %>
		<b><%= t('user_accounts.registrations.oauth.missing_field', :field => t('activerecord.attributes.user.username').downcase) %></b>
		<div>
	  	<%= f.text_field :username, :placeholder => t('activerecord.attributes.user.username') %>
		</div>
	<% end %>
	
	<div class="discrete-separator"></div>
	
	<b><%= t('user_accounts.registrations.oauth.retrieved_fields') %></b>
	<br/><br/>
	<div><%= f.label :full_name %><br />
	<%= f.text_field :full_name %></div>

	<% unless provider_is?(:facebook) %>
		<div><%= f.label :username %><br />
	  <%= f.text_field :username %></div>
	<% end %>

	<% unless provider_is?(:twitter) %>
		<div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>
	<% end %>
</div>