<div class="sheet shadow-light">
	<h2><%=t 'user_accounts.registrations.oauth.twitter.new.title'%></h2>

	<%= form_for(@user, :as => :user, :url => users_auth_sign_up_path) do |f| %>
		<%= render :partial => 'form', :locals =>  {:f => f} %>
		<%= render :partial => 'actions', :locals => {:f => f} %>
	<% end %>
</div>