/*
 *= require_self
 *= require shared/main.css 
*/

body, html {
	background: url('/assets/crosses.png');
	font-family: calibri;
	font-size: 15px;
}

#notifications {
	display: none !important;
}

.board:hover {
	background-color:rgba(35,153,40,0.7);
	color: white;
}

.board h2 {
	font-size: 30px;
}

.board {
	color: #B7FFB4;
	margin-top: 14%;
	background-color:rgba(35,153,40,0.6);
	border: 1px solid white;
	padding: 10px 40px 10px 40px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.board a:hover {
	color:#3B5F30 !important;
}

.board a, .board a:visited {
	color: #B7DCA7;
	font-weight: bold;
}

.styled-form {
	margin-left: 10px;
}

.green input {
	background-color:#85C975;
	border: 2px solid #90D081;
	color: #C5FFBE !important;
}

.green input:hover {
	color:white !important;
}

.actions {
	margin-top: 10px;
	text-align: right;
	margin-bottom: 15px;
}

.actions a {
	margin-right: 20px;
}

.discrete-separator {
	height:1px;
	background-color:#94C09C;
	margin-top: 20px;
	margin-bottom: 20px;
}

.separator {
	background-color:#74C07B;
	margin-top: 60px;
}

ul {
	list-style-type: none;
}

ul li {
	margin-right: 30px;
	display: inline-block;
	color: white;
	font-size: 15px;
}

.facebook-sign-in,
.twitter-sign-in {
	display: inline-block;
	width: 150px;
	height: 24px;
	margin-top: 15px;
}

.twitter-sign-in {
	background: url('/assets/twitter_sign_in.png');
	background-position: 0 -24px;
}

.twitter-sign-in:hover {
	background: url('/assets/twitter_sign_in.png');
	background-position: -24 -48px;
}

.facebook-sign-in {
	background: url('/assets/facebook_sign_in.png');
	background-position: 0 -24px;
}

.facebook-sign-in:hover {
	background: url('/assets/facebook_sign_in.png');
	background-position: -24 -48px;
}

.connects {
	margin: 30px auto 0 auto;
	width: 150px;
}

.sheet {
	margin: 40px auto 0 auto;
	width: 400px;
	padding: 10px 30px 70px 30px;
	background-color:white;
}

.sheet h2 { color: #2B761E }