.incidents-count:hover {
	color:#24AF23;
}
.incidents-count {
	color:#6CAF6A;
	margin-left: 25px;
}

.incidents-filter:hover {
	color: #FFF;
}

.incidents-filter {
	color:#8A8A8A;
	margin-left: 30px;
}

.stat {
	padding-top: 8px;
	display: inline-block;
	text-align: left;
	margin: 0px 15px;
}

.stat .number {
	color:#D2D2D2;
	font-size: 30px;
}

.stat .category {
	color:#8C8C8C;
	font-size: 14px;
	margin-top: -4px;
}

.kind-group .empty {
	text-align: center;
	font-style: italic;
	font-size: 13px;
}