/*
 *= require_self
 *= require shared/main.css 
*/
body, html {
	font-family: calibri;
}

#notifications {
	display: none !important;
}

.welcome h1, .welcome h3, p {
	margin: 0px;
	text-align: center;
}

.welcome h3 {
	color: #9F9F9F;
	font-size: 30px;
}

.welcome h1 {
	color: #757575;
	font-size: 70px;
}

p {
	margin-top: 100px;
}

 a.section:hover {
	color: #C6F0C0 !important;
}

 a.section {
	font-weight: bold;
	width: 200px;
	background-color:#3E8C44;
	padding: 10px 20px;
	color: white !important;
}

.green-beam { color:#75AA61 }