<!DOCTYPE html>
<html>
<head>
  <title>Ciudad-IO</title>

  <%= stylesheet_link_tag    "access" %>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="notifications">
		<%= flash[:notice] || yield(:notifications) %>
	</div>
	
	<%= yield %>



</body>
</html>
