<!DOCTYPE html>
<html>
<head>
  <title>Ciudadio</title>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="notifications">
		<%= flash[:notice] %>
		<%= yield :notifications %>
	</div>
	
	<%= yield %>



</body>
</html>
