<!DOCTYPE html>
<html>
<head>
  <title>Ciudadio</title>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <%= stylesheet_link_tag    "full_map" %>
  <%= javascript_include_tag "application" %>
	<%= yield(:javascripts) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/shared/alerts_and_notifications' %>
	
	<div id="header">
		<div class="menu"></div>
		
		<div class="mini-header shadow-light rounded-bottom-5 <%= yield(:classes_for_header) %>">
			<%= yield :header %>
		</div>
		
	</div>
	
	<%= yield :map_area %>

	<div style="width:100%; height:100%; top: 40px" id="map" class="<%= yield(:classes_for_map) %> displays-points"></div>

</body>
</html>
